<div class='row'>
  <div class='span4'>
    <div class='signup'>
      <h2>Sign up</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
          <%= f.email_field :email %></div>

        <% resource.company = Company.new %>

        <%= f.fields_for :company do |cf| %>
          <div>
            <%= cf.label :company %>
            <%= cf.text_field :name %>
          </div>
        <% end %> 

        <div><%= f.label :password %>
          <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div>

        <div><%= f.submit "Sign up", :class => 'btn btn-primary' %></div>
      <% end %>

      <%#= render "links" %>
    </div>
  </div>

  <div class='span8'>
    <div class='brandheader'>
        <div>
          <h1>Welcome to <span class='brandbig'>Hippo!</span></h1>
        </div>
        <div>
          <h3>
            Have you or any of your staff ever mistakenly sent<br/>private medical records to the wrong email address?
          </h3>
        </div> 
        <div>
          <h2>
            Are you sure?
          </h2>
        </div>
    </div>
  </div>
</div>

<div class='row' align="center">
  <div class='span2 offset2'>
    <div class='headersub'>
      Secure
    </div>
    Hippo transfers medical records and other private documents
  </div>

  <div class="span2">
    <div class='headersub'>
      Safe
    </div>
    HIPAA & SAS70 compliant
  </div>

  <div class="span2">
    <div class='headersub'>
      Easy 
    </div>
    Hippo is incredibly easy to use
  </div>
  <div class="span2">
    <div class='headersub'>
      Affordable
    </div>
    For only $99 / month protect an unlimited number of patient records
  </div>
</div>
</div>
