<tr>
  <td><%= link_to share.record_set.patient.name, share.record_set.patient %></td>
  <td>
    <%= raw '<i class=\'icon-lock\'></i>' if share.needs_confirm %>
    <%= link_to share.record_set.name, share.record_set %>
  </td>
  <td><%= link_to share.sender.username, share.sender %></td>
  <td><%= link_to share.recipient.user.username, share.recipient %> </td>
  <td><%= share.created_at.to_s(:longnotime) + ' - (' + time_ago_in_words(share.created_at) + ')' %></td>
  <td><%= share.received_date || '-' %></td>
</tr>

