<h1>Shares</h1>

<table width='80%'>
  <tr>
    <th>Recipient</th>
    <th>When</th>
    <th>Patient</th>
    <th>Record set</th>
    <th>Received date</th>
  </tr>

<% @shares.each do |share| %>
  <tr>
    <td><%= link_to share.recipient.user.username, share.recipient.user %></td>
    <td><%= link_to share.created_at.to_s(:short), share %></td>
    <td><%= link_to share.record_set.patient.name, share.record_set.patient %></td>
    <td><%= link_to share.record_set.name, share.record_set %></td>
    <td><%= share.received_date || '-' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Share', new_share_path %>
