<center>
  <h1>
    <%= @user.username %>
  </h1>
</center>

<p>
  Company / Practice: <%= link_to @user.company.name, 
    @user.company if @user.company %>
</p>
<p>
  Email: <%= @user.email %>
</p>
<p>
  Sharing mode: <%= link_to @user.sharing_mode.name.humanize, edit_user_path %>
</p>

<p>
  &nbsp;
</p>

<div class='well'>
  <%= render 'subscriptions/user' %>
</div>

<% if @user.active_subscription %>
  <%= link_to 'Cancel subscription', cancel_user_path %>
<% else %>
  <%= link_to 'Subscribe', new_subscription_path %>
<% end %> | <%= link_to 'Edit user information', edit_user_path %>


