<h1>
  <%= @company.name %>
</h1>

<p>
  &nbsp;
</p>

<h2>
  Staff
</h2>

<div class='well'>
  <%= form_tag(create_contact_and_share_path, :method => "post", :class => 'form-horizontal') do %>
    <%= label_tag(:email, 'Share with new contact (email)') %>
    <%= text_field_tag(:email) %>
    <%= hidden_field_tag 'sender_id', current_user.id %>
    <%= hidden_field_tag 'record_set_id', @record_set.id %>
    <%= submit_tag("Share", :class => 'btn btn-primary') %>
  <% end %>
</div>

<ul>
  <% @company.users.each do |user| %>
    <li><%= link_to user.username, user %></li>
  <% end %>
</ul>

<p>
  &nbsp;
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
