<h1>Patients</h1>

<table width='80%'>
  <tr>
    <th>Name</th>
    <th>SSN</th>
    <th>Dentist</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= link_to patient.first + ', ' + patient.last, patient %></td>
    <td><%= patient.ssn %></td>
    <td><%= link_to patient.dentist.name, patient.dentist if patient.dentist %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@patients) %>

<br />

<%= link_to 'New Patient', new_patient_path %>
