<h2>
  <%= @patient.last + ', ' + @patient.first %>
</h2>

<p>
  <b>Ssn:</b>
  <%= @patient.ssn %>
</p>

Dentist: <%= link_to @patient.dentist.name, @patient.dentist if @patient.dentist %>
</p>
<h3>Record Sets</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created</th>
      <th># of Records</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
<% @patient.record_sets.each do|record_set| %>
  <tr class="template-download fade in">
    <td class="name"><%= record_set.name %></td>
    <td class="description"><%= record_set.description %></td>
    <td class="date"><%= record_set.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    <td><%= record_set.records.count %></td>
    <td><%#= link_to 'Show', record_set, :class => 'btn btn-success start' %></td>
    <td><%= link_to 'Edit', edit_record_set_path(record_set), :class => 'btn btn-primary start' %></td>
    <td><%= link_to 'Destroy', record_set, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger delete' %></td>
  </tr>
<% end %>
  </tbody>
</table>


<p>
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
</p>

<script type="text/javascript" charset="utf-8">
  $(function() {
    //test(); 
    });

  function test() {
    var template = tmpl('template-record-set');
    var html = template();

    var children = $('#foo').html(html).children();
    //children[0].toggleClass('in');
  }
</script>

<button type="submit" onclick="test(); return false;">test</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>column</th>
    </tr> 
  </thead> 
  <tbody id="foo" class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
<%= render :partial => "record_sets/template-record-set" %>
