<h2>
  <%= @patient.last + ', ' + @patient.first %>
</h2>

<p>
  <b>Ssn:</b>
  <%= @patient.ssn %>
</p>

Dentist: <%= link_to @patient.dentist.name, @patient.dentist if @patient.dentist %>

<p>
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
</p>

<script type="text/javascript" charset="utf-8">
  $(function() {
    alert('test');    
  });
</script>

<div>

</div>
