<h2>
<%= best_in_place @patient, :last %>, <%= best_in_place @patient, :first %>
</h2>

<p>
  <b>Ssn:</b>
  <%= best_in_place @patient, :ssn %>
</p>

Dentist: <%= link_to @patient.dentist.name, @patient.dentist if @patient.dentist %>
</p>
<button id="add_button" class="btn btn-primary start" type="submit" onclick="addRow(); return false;">New Record Set</button>
<p></p>
<h3>Record Sets</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created</th>
      <th># of Records</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="record_sets" data-toggle="modal-gallery" data-target="#modal-gallery">
<% @patient.record_sets.each do|record_set| %>
  <tr class="template-download fade in">
    <td class="name"><%= link_to record_set.name, record_set %></td>
    <td class="description"><%= record_set.description %></td>
    <td class="date"><%= record_set.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    <td><%= record_set.records.count %></td>
    <td><%= link_to 'Show', record_set, :class => 'btn btn-success start' %></td>
    <td><%= link_to 'Destroy', record_set, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger delete' %></td>
  </tr>
<% end %>
  </tbody>
</table>


<p>
  <%= link_to 'Edit', edit_patient_path(@patient) %> |
  <%= link_to 'Back', patients_path %>
</p>

<script type="text/javascript" charset="utf-8">
  $(function() {
    //test(); 
    });

  function addRow() {
    var template = tmpl('template-record-set-create');
    var html = template();

    $('.record_sets').prepend(html);
    $('#add_button').hide();
  }

  function createRecordSet($name, $description) {
    $form = $('#new_record_set');
    $rs_name = $form.find('.record_set_name');
    $rs_name.val($name.val());

    $desc = $form.find('.record_set_description');
    $desc.val($description.val());

    $form.live('ajax:success', function(data, status, xhr) {

        var json = {record_sets: status};
        var html = tmpl('template-record-set', json);
        $('.record-set-create').replaceWith(html);
        $('#add_button').show();
    });
    $.rails.handleRemote($form);
  }
</script>

<%= form_for(@record_set, :format => :json, :html => {:style => 'display: none;'}) do |f| %>
  <%= f.hidden_field :patient_id, :value => @patient.id %>
  <%= f.text_field :name, :class=>'record_set_name' %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_field :description, :class => 'record_set_description' %>
<% end %>

<%= render :partial => "record_sets/template-record-set-create" %>
<%= render :partial => "record_sets/template-record-set" %>
