<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @subscription.user.email %>
</p>

<p>
  <b>Plan:</b>
  <%= @subscription.plan.name %>
</p>

<p>
  <b>Token:</b>
  <%= @subscription.stripe_customer_token %>
</p>

<% @user = @subscription.user %>

<%= render 'user' %>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
