<center>
  <h1>
    <%= @subscription.user.email %>
  </h1>
</center>

<p>
  <b>Plan:</b>
  <%= @subscription.plan.name %>
</p>

<p>
  <b>Token:</b>
  <%= @subscription.stripe_customer_token %>
</p>

<p>
  <b>Active:</b>
  <%= @subscription.active ? 'yes' : 'no' %>
</p>

<% @user = @subscription.user %>

<%= render 'user' %>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
