<center>
  <h1>
    <%= @subscription.user.email %>
  </h1>
</center>

<p>
  <b>Plan:</b>
  <%= @subscription.plan.name if @subscription.plan %>
</p>

<p>
  <b>Token:</b>
  <%= @subscription.user.stripe_customer_token %>
</p>

<% @user = @subscription.user %>

<%= render 'user' %>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
