<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @record_set.patient_id %>
</p>

<p>
  <b>Name:</b>
  <%= @record_set.name %>
</p>

<p>
  <b>Description:</b>
  <%= @record_set.description %>
</p>


<%= link_to 'Edit', edit_record_set_path(@record_set) %> |
<%= link_to 'Back', record_sets_path %>
