<center>
  <h1>
    <%= link_to @record_set.patient.name, @record_set.patient %>
    <%= link_to @record_set.name, @record_set.patient %>
  </h1>

  <div class='row'>
    <div class='span4'>
      <% if current_user.contacts.size > 0 %>
        <div class='well'>
          <%= semantic_form_for @share do |f| %>
            <%= f.inputs do %>
              <%= f.input :recipient, :label => 'Share with Recipient', :collection => current_user.contacts %>
              <%= f.input :sender_id, :as => :hidden, :value => current_user.id, :label => false %>
              <%= f.input :record_set_id, :value => @record_set.id, :as => :hidden, :label => false %>
            <% end %>
            <%= f.buttons do %>
              <%= f.button :share, :class => 'btn btn-primary btn-large' %>
            <% end %>
          <% end %>
        </div>
    <% end %>
      <div class='well'>
        <%= form_tag(create_contact_and_share_path, :method => "post", 
                     :class => 'form-horizontal') do %>
          <%= label_tag(:email, 'Share with new contact (email)') %>
          <%= text_field_tag(:email) %>
          <%= hidden_field_tag 'sender_id', current_user.id %>
          <%= hidden_field_tag 'record_set_id', @record_set.id %>
          <%= submit_tag("Share", :class => 'btn btn-primary') %>
        <% end %>
      </div>
      <div class='well'>
        <p>
          Shares of these records
        </p>
        <%= raw '<small>No shares</small>' if @shares.size == 0 %>
        <table>
          <% @shares.each do |share| %>
            <tr>
              <td>
                <%= link_to share.recipient.user.username, share.recipient %>
                <br />
                <small>
                  Sent <%= link_to share.created_at.to_s(:short), share %>
                </small>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class='well'>
        <% if @record_set.patient.dentist %>
          <h2>
            <small>
              Patient of: <%= link_to @record_set.patient.dentist.name, @record_set.patient.dentist %> 
            </small>
          </h2>
        <% end %>

        <p>
          <small>
            Records: <%= best_in_place @record_set, :name %>
          </small>
        </p>

        <p>
          <small>
            Created <%= @record_set.created_at.to_s(:long) %>
          </small>
        </p>

        <p>
          <small>
            Description
          </small>
        </p>
        <%= best_in_place @record_set, :description, :type => :textarea %>
      </p>
    </div>
  </div>
  <div class='offset2 span6'>
    <%= form_for @record, :html=> { :multipart => true, :id => 'fileupload' } do |f| %>
      <%= f.hidden_field :record_set_id, :value => @record_set.id %>
      <% if @record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
            <% @record.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <br />
      <div class="row fileupload-buttonbar">
        <div id="span7">
          <label class="btn btn-success fileinput-button">
            <span><i class="icon-plus icon-white"></i> add files...</span>
            <%= f.file_field :record %>
          </label>
          <button type="submit" class="btn btn-primary start"><i class="icon-upload icon-white"></i> start upload</button>
          <button type="reset" class="btn btn-warning cancel"><i class="icon-ban-circle icon-white"></i> cancel upload</button>
          <button type="button" class="btn btn-danger delete"><i class="icon-trash icon-white"></i> delete files</button>
          <input type="checkbox" class="toggle">
        </div>
        <div class="span5">
          <!-- The global progress bar -->
          <div class="progress progress-success progress-striped active fade">
            <div class="bar" style="width:0%;"></div>
          </div>
        </div>
      </div>
      <center>
        <small>
        You can drag files onto this web page to enqueue them for uploading
        </small>
      </center>
      <!-- The loading indicator is shown during image processing -->
      <div class="fileupload-loading"></div>
      <br>
      <!-- The table listing the files available for upload/download -->
      <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    <% end %>
    <%= render :partial => "/records/template-upload" %>
    <%= render :partial => "/records/template-download" %>

    <%= link_to 'Edit', edit_record_set_path(@record_set) %> |
    <%= link_to 'Back', record_sets_path %>
  </div>
