<center>
  <div class='row'>
    <div class='span4'>
      <% if current_user.active_subscription %>
        <%= render 'new_share' %>
      <% else %>
        <div class='alert alert-error'>
          <strong>
            Sharing is disabled because you are not actively subscribed.
          </strong>
          <br>
          <%= link_to 'Subscribe now.', new_subscription_path %>
          </br>
        </div>
      <% end %>
      <div class='well'>
        <p>
          Shares of these records
        </p>
        <%= raw '<small>No shares</small>' if @shares.size == 0 %>
        <table>
          <% @shares.each do |share| %>
            <tr>
              <td>
                <%= link_to share.recipient.user.username, share.recipient %>
                <br />
                <small>
                  Sent <%= link_to share.created_at.to_s(:short), share %>
                </small>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class='well'>

        <p>
          <small>
            Created by: <%= @record_set.user.username %>
          </small>
        </p>

        <p>
          <small>
            Records: <%= @record_set.name %>
          </small>
        </p>

        <p>
          <small>
            Created <%= @record_set.created_at.to_s(:long) %>
          </small>
        </p>

        <p>
          <small>
            Description
          </small>
        </p>
        <%= @record_set.description %>
      </p>
    </div>
  </div>
  <div class='offset2 span6'>
    <%= render 'header' %>
    <%= form_for @record, :html=> { :multipart => true, :id => 'fileupload' } do |f| %>
      <%= f.hidden_field :record_set_id, :value => @record_set.id %>
      <% if @record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
            <% @record.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.file_field :record %>
      <div class="row fileupload-buttonbar">
      <% render 'buttonbar' %>
        <div class="span5">
          <!-- The global progress bar -->
          <div class="progress progress-success progress-striped active fade">
            <div class="bar" style="width:0%;"></div>
          </div>
        </div>
      </div>
      <div class="alert alert-info border-dashed">
        <center>
          <small>
            You can drag files onto this web page to enqueue them for uploading
          </small>
        </center>
      </div>
      <!-- The loading indicator is shown during image processing -->
      <div class="fileupload-loading"></div>
      <br>
      <!-- The table listing the files available for upload/download -->
      <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    <% end %>
    <%= render :partial => "/records/template-upload" %>
    <%= render :partial => "/records/template-download" %>

    <%= link_to 'Edit', edit_record_set_path(@record_set) %> |
    <%= link_to 'Back', record_sets_path %>
  </div>
