<center>
  <h1>
    <%= link_to @record_set.patient.name, @record_set.patient %>
  </h1>

  <% if @record_set.patient.dentist %>
    <h2>
      <small>
        Patient of: <%= link_to @record_set.patient.dentist.name, @record_set.patient.dentist %> 
      </small>
    </h2>
  <% end %>

  <h2>
    <small>
      Records: <%= @record_set.name %> - Created <%= @record_set.created_at.to_s(:long) %>
    </small>
  </h2>

  <p>
    <%= @record_set.description %>
  </p>

  <p>
    <%= (rs = @record_set.records.size).to_s %> records.
  </p>
</center>

  <% if rs > 0 %>
    <div class='row'>
      <% counter = 0 %>
      <% @record_set.records.each do |r| %>
        <div class = 'span4'>
          <% if r.is_image? %>
            <center>
              <br>
              <%= image_tag(r.record.thumb.url) %>
              </br>
              <small>
                <%= r.name %>
              </small>
            </center>
          <% else %>
            <%= r.name %>
          <% end %>
        </div>
        <% if counter == 2 %>
        </div><!-- /row -->
        <div class='row'>
          <% counter = 0 %>
        <% else %>
          <% counter = counter + 1 %>
        <% end %>
      <% end %>
    </div>
  <% end %>


<%= link_to 'Edit', edit_record_set_path(@record_set) %> |
<%= link_to 'Back', record_sets_path %>
