<p id="notice"><%= notice %></p>

<center>
<h1>
<%= @record_set.patient.name %>
</h1>

<h2>
  <small>
    Records: <%= @record_set.name %> - Created <%= @record_set.created_at.to_s(:long) %>
  </small>
</h2>

<p>
  <%= @record_set.description %>
</p>
</center>

<%= link_to 'Edit', edit_record_set_path(@record_set) %> |
<%= link_to 'Back', record_sets_path %>
