<!DOCTYPE html>
<html>
  <head>
    <title>Hippo</title>
    <%= stylesheet_link_tag "bootstrap/css/bootstrap.min", :media => "all" %>
    <%= stylesheet_link_tag "jquery.fileupload-ui.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag :application %>
    <%#= javascript_include_tag "https://js.stripe.com/v1/" %>
    <% javascript_include_tag 'https://js.stripe.com/v1/stripe-debug.js' %>
    <%= javascript_include_tag 'subscriptions' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li>
              <a class='brand' href="/" >Hippo</a>
            </li>
            <li>
              <%= link_to 'Inbox', '/inbox' %>
            </li>
            <li>
              <%= link_to 'Address Book', :contacts %>
            </li>
            <li>
              <%= link_to 'Patients', :patients %>
            </li>
            <li>
              <%= link_to 'Shares', :shares %>
            </li>
            <li>
              <% email = '9@9.com' %>
              <%= link_to 'Login as ' + email, 'localhost:3991/inbox?auth_token=' +
                User.find_by_email(email).get_token if User.find_by_email(email)%>
              </li>
              <li>
                <% link_to 'token', 'http://localhost:3991/contacts?auth_token=w1CtTyhCHFnVvFifRQpU'%>
              </li>
              <% if current_user %>
                <% if current_user.company %>
                  <li>
                    <%= link_to current_user.company.name, current_user.company %>
                  </li>
                <% end %>
                <% if current_user.is_admin %>
                  <li>
                    <%= link_to 'Subscriptions', :subscriptions %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <ul class='nav pull-right'>
              <li>
                <% if current_user %>
                  <% image_tag current_user.gravatar_url, :width => '50' %>
                  <li><%=  link_to current_user.username, current_user %></li>
                  <li><%= link_to("Sign out", destroy_user_session_path, :method => :delete) %></li>
                <% else %>
                  <li><%= link_to("Sign in", new_user_session_path ) %></li>
                <% end %>
              </ul>
            </ul>
          </div>
        </div>
      </div>

      <% flash.each do |key, msg| %>
        <div id="msg" class="alert">
          <%= msg %>
        </div>
      <% end %>

      <div class='container'>
        <%= yield %>
      </div>

    </body>
  </html>
