<!DOCTYPE html>
<html>
<head>
  <title>Hippo</title>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
  <% csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <a class='brand' href="#" >Hippo</a>
          </li>
          <li>
            <%= link_to 'Dentists', :dentists %>
          </li>
          <li>
            <%= link_to 'Patients', :patients %>
          </li>
          <% if current_user %>
            <li><%=  link_to(current_user.name, current_user) %></li>
            <li><%= link_to "Logout", '/logout' %></li>
          <% else %>
            <li><%= link_to("Login", '/login' ) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% flash.each do |key, msg| %>
    <div id="msg" class="alert">
      <%= msg %>
    </div>
  <% end %>

  <div class='alert alert-info'>
    Using machine generated patient and doctor information.
  </div>

  <%= yield %>

</body>
</html>
