<!DOCTYPE html>
<html>
  <head>
    <title>Hippo</title>
    <%= stylesheet_link_tag "bootstrap/css/bootstrap.min", :media => "all" %>
    <%= stylesheet_link_tag "jquery.fileupload-ui.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag :application %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class='brand' href="/" >Hippo</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <%= link_to 'Inbox', '/inbox' %>
              </li>
              <li>
                <%= link_to 'Contacts', :contacts %>
              </li>
              <li>
                <%= link_to 'Patients', :patients %>
              </li>
              <li>
                <%= link_to 'Shares', :shares %>
              </li>
              <% if current_user %>
                <% if current_user.company %>
                  <li>
                    <%= link_to current_user.company.name, current_user.company %>
                  </li>
                <% end %>
                <% if current_user.is_admin %>
                  <li>
                    <%= link_to 'Subscriptions', :subscriptions %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav pull-right" style="margin-right:30px;">
              <% if current_user %>
                <li><%= link_to current_user.username, current_user %></li>
                <li><%= link_to("Sign out", destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to("Sign in", new_user_session_path ) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>  
    </div>

    <div class="container" style="padding-top:100px;padding-bottom:50px;">
      <% flash.each do |key, msg| %>
        <div id="msg" class="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
