<h2>
  <%= @dentist.first %> <%= @dentist.middle %> <%= @dentist.last %>, <%= @dentist.title %>
</h2>
<%= @dentist.address1 %>
<%= @dentist.address2 %>
<%= @dentist.email %>
<%= @dentist.city %>, <%= @dentist.state %> <%= @dentist.zip %>

<p>
  <%= link_to 'Edit', edit_dentist_path(@dentist) %> |
  <%= link_to 'Back', dentists_path %>
</p>
